@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
img{
    display: block;
}
/* section h1{
     text-align: center; 
    border: 2px solid red; 
} */

/* ######################################## utility classes ############################################  */
.container
{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.sm-text{
    font-size: 1.5rem;
}
.lg-text{
    font-size: 2.5rem;
}
.md-text{
    font-size: 1.8rem;
}
.btn{
    display: inline-block;
    background: #009879;
    padding: 0.2rem 1.5rem;
    font-weight: 500;

}
.btn-pri{
    padding: 0.5rem 3rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-out;
    border: 2px solid #fff;
}
.btn-sec{
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-out;
    border: 2px solid #fff;
}
.btn-pri:hover{
    background: white;
    color: #009879;
    border: 2px solid #009879;
}
.btn-sec:hover{
    background: white;
    color: #009879;
    border: 2px solid #009879;
}

/* ###################################### navbar styling ################################################ */
/* dekstop styling */
.navbar input[type="checkbox"],
.navbar .hemburger-lines{
    display: none;
}
.navbar{
    /* border: 2px solid red; */
    box-shadow: 0px 5px 10px 0px #aaa;
    height: 55px;
    opacity: 0.91;
    width: 100%;
    position: fixed;
    z-index: 999;
    background: #fff;
}
.navbar .nav-container{
    margin-top: 1rem;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* flex-flow: row-reverse; */
}
.logo{
    /* border: 2px solid yellow; */
    order: 1;
    font-size: 3rem;
    transition: color 0.2s ease-in-out;
}
.menu-items{
    padding-top: 1rem;
    /* border: 2px solid brown; */
    display: flex;
    order: 2;
}
.menu-items li{
    /* border: 1px solid black; */
    margin-left: 1.5rem;
    font-size: 1.8rem;
}
.menu-items li a{
    text-decoration: none;
    /* border: 2px solid purple; */
    color: black;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}
.navbar a:hover{
    color: #009879;
}

/* ################################################# showcase-area ################################################ */

.showcase-area{
    height: 50vh;
    background-image: linear-gradient(rgba(255,255,255,0.2) ,rgba(255,255,255,0.2) ),url("/img/header-image2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.showcase-content{
    z-index: 10;
    width: 50%;
    margin: 0 auto;
    /* border: 2px solid green; */
    text-align: center;

    /* padding-top: 6rem; */
}




/* ######################################################### about us ######################################################## */
.about-img img{
    display: inline-block;
    width: 100%;
    /* border: 2px solid green; */
    object-fit: cover;
    object-position: right;
}

.about-area{
    background: #f5f5f7;
    padding: 7rem 0;
    /* border: 2px solid red; */
}
.about-content{
    /* border: 2px solid yellowgreen; */
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    /* background: white; */
    /* margin-bottom: 2rem; */

    

}
.about-text{
    align-content: flex-start;
    /* border: 2px solid brown; */
    flex: 1 1 600px;
    margin: auto;
    padding: 1rem;
    transform: translate(-150%);
    animation: about-text-animation 1s forwards 1s ease-out  ;
    /* width: 50%; */
}
@keyframes about-text-animation{
    100%{
       transform: translate(0);
    }
    
        
    
}
.about-img{
    flex: 1 1 400px;
    /* border: 2px solid black; */
    transform: translate(150%);
    animation: about-img-animation 1s forwards 1s ease-in-out  ;
    /* width: 50%; */
}
@keyframes about-img-animation{
    100%{
       transform: translate(0);
    }
}   
/* ########################################################### food container #########################################################  */

.food{
    background: white;
    padding: 3rem ;
    /* border: 2px solid lightblue; */
    text-align: center;
}
.food-container{
    /* background: lightcoral; */
    /* border: 2px solid lightcoral; */
    /* padding: 7rem 0; */
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
}
.food .food-container .food-img{
    display: block;
    width: 35rem;
    flex-grow: 1;
    /* border-radius: 1rem; */
    /* width: 100%; */
    /* border: 2px solid red; */
}
/* .food-container .food-type:hover{
    box-shadow: none;
} */
.food-container .food-type{
    /* border: 2px solid yellowgreen; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.911);
    margin: 1rem;
    /* transition: all 5s ease-out; */
    border-radius: 1rem;
    position: relative;
}
.food-container .img-content{
    /* border: 2px solid green; */
    text-align: center;
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    transition: all 0.5s ease-out;
    color: white;
    top: 50%;
    left: 20%;
    opacity: 0;
    transform: translate(-50%,-50%);
    z-index: 1;
    
}
.food .food-type::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.2s ease-out;
    
}
.food .food-type:hover .img-content{
    left: 50%;
    opacity: 1;
}
.food .food-type:hover::after{
    background: rgba(0, 0, 0, 0.582);
    /* border-radius: 1rem; */
    
}



/* ######################################################## food menu ##################################################### */
.food-menu{
    padding: 3rem 0;
    /* text-align: center; */
    /* border: 2px solid red;; */
}
.food-menu h1{
    text-align: center;
}
.food-menu .menu-img-div img{
    display: block;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: right;
}
.food-menu-container{
    padding-top: 1rem;
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
}
.food-menu-content{
    /* border: 2px solid gold; */
    width: 400px;
    flex-grow: 1;
    display:flex ;
    margin: 1rem;
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39) */
}
.menu-img-div{
    /* border: 2px solid pink; */
    padding: 1rem;
}
.menu-desc{
    /* border: 2px solid brown; */
    margin: auto;
    padding: 1rem;  
}
.menu-desc h3{
    color: #009879;
}

/* ###########################################################testimonial container ################################################ */
.testimonial{
    padding: 3rem 0;
    /* border: 2px solid red; */
    text-align: center;
    background: #f5f5f7;
    font-weight: 200;
}
.testimonial h1{
    text-align: center;
    padding: 1rem;
}
.testimonial-container{
    /* border: 2px solid green; */
    /* width: 35rem; */
    display: flex;
    flex-wrap: wrap;

}
.testimonial-container .testimonial-img-div img{
    display: block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: auto;
}
.testimonial .testimonial-star{
    padding: 1rem 1rem; 
    color: orange;
}
.testimonial .testimonial-content p{
    padding-bottom: 1rem;
}
.testimonial .testimonial-content{
    /* border: 2px solid brown; */
    width: 35rem;
    margin: 1rem;
    flex-grow: 1;
    background: white;
}

/* ############################################# contact us ############################################ */
.contact{
    padding: 4rem 0;
    /* border: 2px solid red; */
  
}
.contact .contact-img-div{
    flex-grow: 1;
    flex-basis: 50%;
    margin: auto;
}

.contact-img-div img{
    display: block  ;
    width: 100%;
    /* height: 600px; */
    /* flex-grow: 1; */
    object-fit: cover;
    object-position: cover;
    padding: 1rem;
   
}
.contact-container{
    /* width: 50%; */
    display: flex;
    flex-wrap: wrap;
    background:#f5f5f7 ;
}
.contact input[type="text"],input[type="email"]{
    display: block;
    border: none;
    border-bottom: 3px solid #009879;
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem;
    outline: none;
}
.contact .contact-content{
    padding-top: 2rem;
    /* border: 2px solid green; */
    flex-grow: 1;
    padding: 1rem;
    margin: auto;
}
.contact textarea{
    width: 100%;
    font-size: 1.8rem;
    padding-top: 1rem;
    display: block;
    outline: none;
    border: none;
    border-bottom: 3px solid #009879;
}
.contact input:focus{
    /* border: none; */
    border-bottom: 3px solid #009879;
}
.contact input[type="submit"]{
    font-size: 1.8rem;
}

/* ##############################################################footer section ############################################# */
.footer{
    padding: 3rem 0;
    background: #aaa;
}
.footer h2{
    text-align: center;
}

/* ##################################################### media queries ########################################################## */
@media(max-width:750px)
{
    html{
        font-size: 50%;
    }
    .navbar input[type="checkbox"],
    .navbar .hemburger-lines{
    display: block;
    /* padding-top: 1rem; */
    /* z-index: 40; */
   }
   /* .navbar .logo{
       display: none;
   } */
   .navbar input[type="checkbox"]{
       height: 32px;
       width: 40px;
       z-index: 100;
       opacity: 0;
   }
   .navbar .nav-container .menu-items{
       /* background: salmon; */
       display: block;
        
       /* border: 2px solid red; */
       background: rgb(0, 0, 0);
       position: absolute;
       order: 0;
       left: 0px;
       top: 0px;
       padding-top: 10rem;
       width: 30rem;
       height: 100vh;
       transition: transform 0.2s ease-out;
       transform: translateX(-120%);

   }
   
   .navbar .menu-items li{
    /* border: 1px solid black; */
    margin-left: 1.5rem;
    font-size: 1.8rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    /* height: 100vh; */
    }
    .navbar .menu-items{
       
        /* color: #fff; */

    }
    .menu-items li a{
        letter-spacing: 2px;
        text-decoration: none;
        /* border: 2px solid purple; */
        color: #fff;
        font-weight: 700;
        transition: color 0.2s ease-in-out;
    }
    .navbar .hemburger-lines{
        transform-origin: 0 0;
        /* border: 1px solid green; */
        width: 32px;
        height: 32px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 56;
        margin-top: 1rem;
        margin-left: 4rem;
        display: flex;
        flex-direction: column;
        /* align-items: space-between; */
        justify-content: space-between;
        /* z-index: 19; */
    }
    .navbar .hemburger-lines .line
    {
        display: block;
        /* border: 1px solid black; */
        width: 38px;
        height: 4px;
        background: black;
        border-radius: 2px;
        margin-left: -0.5rem;
       

    }
    .navbar .hemburger-lines .line1{
        transform-origin: 0% 100%;
    }
    .navbar .hemburger-lines .line3{
        transform-origin: 0% 0%;
    }
    .navbar input[type="checkbox"]:checked ~ .hemburger-lines  .line{
        background: white;
    }
    .navbar input[type="checkbox"]:checked ~ .hemburger-lines  .line1{
        transform: rotate(45deg);
        /* transform-origin: 100% 100%; */
        
    }
    .navbar input[type="checkbox"]:checked ~ .hemburger-lines  .line3{
        transform: rotate(-45deg);
        /* transition: 0% 0%; */
        
    }
    .navbar input[type="checkbox"]:checked ~ .hemburger-lines  .line2{
        display: none;
        
    }
    .navbar input[type="checkbox"]:checked ~ .menu-items{
       transform: translate(0%);
        
    }
    .food-menu .food-menu-content{
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
        
    }
    .food-menu .food-menu-content .menu-desc{
        /* margin: auto; */
        text-align: center;
        /* border: 2px solid green; */
    }
    .food-menu .food-menu-content .menu-img-div{
        /* border: 2px solid black; */
        margin:  0 auto;
    }

}